<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find pkg_techfest_imc)/urdf/micromouse_robot.xacro"/>
  <arg name="extra_gazebo_args" default="--verbose"/>
  <arg name="initial_position_micromouse_x" default="0"/>
  <arg name="initial_position_micromouse_y" default="0"/>	
	

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find pkg_techfest_imc)/world/my_arena.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-x $(arg initial_position_micromouse_x) -y $(arg initial_position_micromouse_y) -z 0.08 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

  <node name="micromouse_centerline" pkg="pkg_techfest_imc" type="micromouse_gtg_centerline.py" args="$(arg initial_position_micromouse_x) $(arg initial_position_micromouse_y)"/>

</launch>
